.main{
    display: flex;
    flex-direction: column;
    height: 98vh;
}

.main div{
    border: 5px solid firebrick;
}

.socials{
    display:flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    list-style: none;
   
}
.socials li {
    padding: 10px
}

.navbar {
    
}

.infoArea{
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    height: 90vh; 
}

.songArea{
    flex: 1 1 35%;
}

.descArea{
    flex: 1 1 65%;
}
