
*{
    font-family: Consolas;
    scrollbar-color: #F8F8FF;
    scrollbar-width: thin;
}

h1 {
    margin-top:5px;
    margin-bottom:10px;
}

/* Background */
.mainBg {
    background-color:#121212;
}

.primBg {
    background-color:#1E1E1E;
}

.secBg {
    background-color:#252525;

}

.oppositeBh{
    background-color: #F8F8FF;
}

.hoverSecBg:hover {
    background-color:#252525;
}

.main{
    margin:0;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*Navbar Area*/
.hideSongArea{
    height:50px
}

.socials{
    color: #F8F8FF;
    display:flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    list-style: none;
}

.socials li {
    padding: 12px
}

.socials i {
    font-size: 30px;
}

.navbar {
    font-size: 20px;
    display:flex;
    height: 50px;
    margin-bottom: 10px;
    padding:5px;
    border-bottom: 2px solid#F8F8FF;
    flex-direction: row;
    align-items: center;
    flex: 0 1 50px;
}

/*Info Area*/
.infoArea{
    overflow: hidden;
    display: flex;
    flex: 1 1 0;
    flex-direction: row;
    max-height: 87vh; 
}

.infoArea > div {
    color: #F8F8FF;
}


/*Description Area*/
.descBox{
    display:flex;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 1% 0% 0% 2%;
    margin:8px;
    margin-right: 10px;
    border-radius: 2%;
    flex: 1 1 75%;
}

.descText {
    font-size:24px;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 0;
    margin-right: 10px;
    border-radius: 2%;
    max-height: 100%;
    padding-right: 10px;
    padding-bottom: 20px;
    flex: 1 1 auto;
}

/*Song Area*/
.songArea{
    overflow-y: auto;
    display:flex;
    flex-direction: column;
    margin:8px;
    margin-left: 10px;
    padding:1%;
    border-radius: 4% / 2%;
    flex: 1 1 35%;
}

.songPlayButton{
    padding: 0 10px 0 10px;
    font-size: 1.5em;
}

.songPlayButton *{
    font-size: 0.73em;
}

.song{
    align-items: center;
    display: flex;
    flex: 0 1 auto;
    gap:10px;
    flex-direction: row;
    padding: 8px;
    border-radius: 3% / 15%;
}

.songDesc {
    padding-left: 5px;
}


.albumCover{
    display: flex;
    padding: 1.5%;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
}

.albumCover > img{
    flex: 1 1 auto;
    max-height: 50px;
    max-width: 50px;
    margin: auto;
}

/*Playerbar Area*/
.playerBar{
    display: flex;
    flex-direction: row;
    flex: 0 0 90px;
    margin:8px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 1% / 15%;
}


.actualPlayer{
    flex: 1 1 auto;
}

.volumeControl{
    flex: 1 1 auto;
}

.songPlayer{
    display: flex;
    flex: 1 1 auto;
    gap:10px;
    flex-direction: row;
    padding: 8px;
    border-radius: 5% / 20%;
}
